body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blue {
    background-color: #006699;
}

.yellow {
    background-color: #FFCC00;
}

.green {
    background-color: #669900;
}
